body {
    background-color: var(--background-color);
    color: var(--color-primary);
    font-family: 'Roboto';
}

#app {
    width: 80vw;
    margin: 0 auto;
    min-width: 700px;
}

.el-dialog {
    background-color: var(--dialog-background-color) !important;
    width: 70vw;

    .el-dialog__header {
        .el-dialog__title{
            font-size: 30px;
            color: var(--dialog-color);
        }
    }

    .el-dialog__body {
        color: var(--dialog-color);
        padding: 20px;
    }
}

.el-switch__label {
    color: var(--color-primary) !important;

    &.is-active {
        color: var(--color-secondary) !important;
    }
}