body {
    background-color: #303841;
    color: rgba(255,255,255,0.6);
    font-family: 'Roboto';
}

#app {
    width: 80vw;
    margin: 0 auto;
    min-width: 700px;
}

.el-dialog {
    background-color: #4A403A !important;
    width: 70vw;

    .el-dialog__header {
        .el-dialog__title{
            font-size: 30px;
            color: #fff;
        }
    }

    .el-dialog__body {
        color: #fff;
        padding: 20px;
    }
}